body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;

  background: #4001a6 url('../assets/banner2025.jpg') no-repeat center 0 fixed;
  background-size: 100% auto;
}

body, button, input, select, textarea {
  font-family: 'Publica Play', Arial, sans-serif;
}

#quiz-box {
  background: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  max-width: 500px;
  margin: 30px 0 30px auto;
  margin-right: clamp(0px, 8%, 120px);

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    border-radius: 0;
  }
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  color: #4001a6;
}
#quiz-box p {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #444;
}
#quiz-box h3 {
  margin-top: 0;
}
#banner img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.question-block {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
.blue { background-color: #EBF1ED; }
.yellow { background-color: #EBC39E; }
.pink { background-color: #eac5c0; }
.question-block img {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: center -200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.quiz-list {
  list-style: none;
  padding: 0;
}

.quiz-list li {
  margin-bottom: 10px;
}

.quiz-list a {
  text-decoration: none;
}

.quiz-list a,
button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: #D76554;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.quiz-list a:hover,
button:hover {
  /* super super darker of D76554 */
  background-color: #BF4A3A; 
}

.back-link {
  text-align: left;
}

.back-link:hover {
  text-decoration: none;
}


.correct {
  background-color: #4CAF50;
  color: white;
}
.incorrect {
  background-color: #f44336;
  color: white;
}
#result {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 2;
}
.retry-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.retry-btn:hover {
  background-color: #1976D2;
}

label:hover {
  background-color: #00000011;
  cursor: pointer;
}